/* Icons */
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

/* Fonts */
@font-face {
    font-family: UniNeueBold;
    src: url("fonts/UniNeueBold.otf");
}
@font-face {
    font-family: UniNeueRegular;
    src: url("fonts/UniNeueRegular.otf");
}
/* General */
body{
    margin-top: 60px;
    
}
.mainwrapper {
    padding: 10px;
    padding-top: 60px;
}
/* Utility classes */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.no-border{
    border: none!important;
}
.card{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Headers and menu */
.main-header{
    position: absolute;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}
.menu-icons{
    margin: 5px;
    font-size: 18px;
}

/* Text */
h1,h2,h3,h4,h5{
    font-family: UniNeueBold;
    text-shadow: none!important;
}

h1, .h1 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h2, .h2 {
    font-size: 18px;
}


p{
    font-family: UniNeueRegular;
    font-size: 16px; 
    text-shadow: none!important;
    margin-top: 0;
    font-weight: 100;
}

.small{
    font-size: 14px; 
}

a{
    font-family: UniNeueRegular;
    font-size: 16px;
    color: #1EAF8C;
    text-decoration: none;
    font-weight: 100!important;
}
a.small.ui-link {
    display: block;
    margin-top: 10px;
}
.font-white{
    color:#FFFFFF
}

.font-black{
    color:#445055
}

.font-grey{
    color:#9BA2A8
}


.font-green{
    color:#1EAF8C
}


/* Backgrounds */
.background-white{
    background-color: #ffffff;
    text-shadow: none!important;
}

.background-green{
    background-color: #1EAF8C;
}

.background-red{
    background-color: #C3283C;
}

.background-darkgrey-1{
    background-color: #354146;
}

.background-darkgrey-2{
    background-color: #3A464B;
}

.background-darkgrey-3{
    background-color: #445055!important;
}

.background-lightgrey-1{
    background-color: #9BA2A8;
}

.background-lightgrey-2{
    background-color: #C8CDD2;
}

.background-lightgrey-3{
    background-color: #E9EBEC;
}

/* Buttons */
.button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-family: UniNeueRegular;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
}
.button .fas{
    margin-right: 5px;
}
.button-icon{
    background-color: #E9EBEC;
    color: #445055;
}

.button-positive{
    background-color: #1EAF8C;
    color: #ffffff;
}

.button-negative{
    background-color: #C3283C;
    color: #ffffff;
}

/* Forms */
.input{
    background-color: transparent;
    border: 2px solid #C8CDD2;
    color: #445055;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    font-family: UniNeueRegular;
    font-size: 16px;
    box-sizing: border-box;  
    padding-left: 10px;
    margin-bottom: 10px;
}
.textarea{
    height: 80px;
    padding: 10px;
}
.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9BA2A8;
    opacity: 1; /* Firefox */
}
.checkbox-wrapper{
    display: block;
    margin: 0 auto;
    width: 100px;
}
.checkbox{
    float: left;
}
.checkbox-label{
    float: left;
    font-size: 12px;
    margin-top: 3px;
}
/* Lists */
.listview{
    padding: 0;
    list-style: none;
}
.item-white a{
    background-color: #ffffff!important;
}
.item-white {
    border-radius: 5px!important;
}
.item-white a:after {
    margin-top: auto;
    right: 0;
    width: 7%;
    top: 50%;
    /* display: table; */
    /* vertical-align: -webkit-baseline-middle; */
    padding-top: 49%;
    margin-top: -50%;

}
/* Side panel */
#mypanel {
    z-index: 99999;
    box-shadow: none;
}

/* Login screen */
.background-login{
    background-image: url(img/login-4-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 40px;
}
.login-logo {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.front-card{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 40px;
}
.front-header{
    margin-bottom: 20px;
    margin-top: -15px;
}
.switch-wrapper {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
}
.language-switch-left {
    float: left;
    text-shadow: none;
    margin-top: 7px;
    font-size: 14px;
    color: #fff;
}
.language-switch-right {
    float: right;
    text-shadow: none;
    margin-top: -24px;
    font-size: 14px;
    color: #fff;
}
/* Jquery mobile mods */
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #29af8c;
    font-weight: 100;
}
.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all {
    font-weight: 100;
    font-family: UniNeueRegular;
    color: #445055;
}
div.ui-slider-switch.ui-mini { 
    height: 29px;
    top: 0;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: transparent;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 17px;
}
.ui-slider-switch.ui-mini .ui-slider-label {
    font-size: 14px;
    border-radius: 13px;
    background-color: transparent;
}
.ui-slider-track .ui-btn.ui-slider-handle {
    font-size: .9em;
    line-height: 30px;
    border-radius: 50%;
}


.ui-controlgroup-vertical .ui-btn.ui-first-child {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #f6f6f6;
    border-color: #c8cdd2;
    color: #485055;
    text-shadow: 0 1px 0 #f3f3f3;
    border: 2px solid #c8cdd2;
    font-family: UniNeueRegular;
    font-weight: 100;
}
.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-bottom-width: 2px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after, html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after, .ui-btn.ui-radio-on.ui-btn-a:after {
    border-color: #29af8c;
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #29af8c;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #29af8c;
    font-weight: 700;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: #f6f6f6;
    border-radius: 0;
    height: 100%;
    text-align: center;
    /* vertical-align: middle; */
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
    background-color: #ffffff;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    border: 2px solid #c8cdd2;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border: none;
    border-top-width: 0;
}
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    border: none;
    font-weight: 100;
    font-family: UniNeueRegular;
    background-color: #fff;
}
.ui-icon-relate-arrow-right:after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    color: #29af8c;
    font-weight: 900;
}
.ui-icon-relate-arrow-up:after {
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    color: #29af8c;
    font-weight: 900;
}
.ui-icon-relate-arrow-down:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    color: #29af8c;
    font-weight: 900;
}

.ui-collapsible-set>.ui-collapsible.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius: 5px;
    margin-top: 10px;
    /* border: none; */
}
.ui-radio .ui-btn.ui-radio-on:after {
    background-image: none;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-relate-arrow-down:after {
    margin-top: auto;
    right: 0;
    width: 7%;
    top: 50%;
    /* display: table; */
    /* vertical-align: -webkit-baseline-middle; */
    padding-top: 49%;
    margin-top: -50%;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-relate-arrow-up:after {
    margin-top: auto;
    right: 0;
    width: 7%;
    top: 50%;
    /* display: table; */
    /* vertical-align: -webkit-baseline-middle; */
    padding-top: 49%;
    margin-top: -50%;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    font-weight: 700;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #1eaf8c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
}
h3.dark a {
    background-color: #354146!important;
    color: #fff!important;
    text-shadow: none!important;
}
h3.dark a:after{
    background-color: #3A464B!important;
}
.dark .ui-body-inherit {
    background-color: #3a464b;
    text-shadow: none;
}
.ui-bar, .ui-body {
    position: relative;
    padding: .4em 1em;
    overflow: hidden;
    display: block;
    clear: both;
    border: none;
    padding-bottom: 20px;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}
/* Ajax Loader */
